.experienceCont {
  margin: 40px 0;
}

.bulletCont {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(134, 65, 169);
  position: relative;
  top: -18px;
  left: -6px;
}

.exprncboxOuterCont {
  border-left: 2px solid rgb(134, 65, 169);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.exprncboxCont {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid rgb(40, 25, 88);
  border-radius: 15px;
  margin-left: 3rem;
  margin-right: 3rem;
  transition: transform 0.3s ease;
}

.exprncboxCont:hover {
  transform: scale(1.05);
}

.role {
  display: flex;
  gap: 1rem;
}

.CompImage {
  width: 75px;
  border-radius: 10%;
}

.CompData {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.companyName {
  font-size: 0.9rem;
}

.descOfRole {
  line-height: 1.4rem;
}

.timePeriod {
  font-size: 0.8rem;
}

.skillsLearnt {
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

@media screen and (max-width: 480px) {
  .exprncboxOuterCont {
    width: 100%;
  }

  .exprncboxCont {
    margin-right: 1rem;
  }

  .skillsLearnt {
    flex-wrap: wrap;
  }
}
